.search-bar {
  margin-top: 2rem;

  &__icon-small {
    margin-top: .7rem;
  }
}

.icon, h1 {
  color: rgba(0, 169, 255, 0.6);
}

button.ui.button.logout-button {
  background-color: transparent;

}

span.post__avatar-name {
  color: rgba(0, 169, 255, 0.6);
}