@import './trig';

.ui.container.users-container {
  perspective: 900px;
}

img.ui.avatar.image.users-section {
  height: 6rem;
  width: 6rem;
  background-size: cover;

  @media (max-width: 1200px) {
    height: 4rem;
    width: 4rem;
  }

}

span.users-section__username {
  color: #5ec1f4;
  margin-top: .7rem;
}