@import './trig';

img.ui.avatar.image.users-section {
  height: 6rem;
  width: 6rem;
  background-size: cover;
  box-sizing: content-box;
  padding: .5rem;

  @media (max-width: 1200px) {
    height: 4rem;
    width: 4rem;
  }

}

.ui.container.users-container {
  perspective: 1000px;
  width: 100%;
  height: 500px;

  @media (max-width: 768px) {
    perspective-origin: top;
    perspective: 400px;
  }

  @media (max-width: 1400px) {
    height: 27rem;
  }
  @media (max-width: 1200px) {
    height: 16rem;
  }
}

span.users-section__username {
  color: rgba(12, 64, 90, 0.84);
  margin-top: .7rem;
}