.users {
  margin: 10rem 0 16rem 0;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transform-origin: center;
  transform: rotateX(60deg);
  transform-style: preserve-3d;
}

.ui.container.users-container {
  perspective: 500px;
}

.user {
  width: 10%;

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: rotateX(-60deg);

    &-1,
    &-10 {
      transform: translateY(0);

    }

    &-2,
    &-9 {
      transform: translateY(60px);
    }

    &-3,
    &-8 {
      transform: translateY(100px);
    }

    &-4,
    &-7 {
      transform: translateY(120px);
    }

    &-5,
    &-6 {
      transform: translateY(160px);
    }

    &-20,
    &-11 {
      transform: translateY(0);

    }

    &-19,
    &-12 {
      transform: translateY(-20px);
    }

    &-18,
    &-13 {
      transform: translateY(-40px);
    }

    &-17,
    &-14 {
      transform: translateY(-60px);
    }

    &-16,
    &-15 {
      transform: translateY(-100px);
    }
  }
}

img.ui.avatar.image.users-section {
  height: 6rem;
  width: 6rem;
}


span.users-section__username {
  color: #5ec1f4;
  margin-top: .7rem;
  transform-style: preserve-3d;
  transform: rotateX(-60deg);
}
