.comment-section {
  display: flex;
  margin-left: 1rem;
  max-width: 100%;
  overflow-y: scroll;
}

.add-comment-section {
  display: flex;
  width: 94%;
  margin: 2% 0 2% 2rem;

  &__input {
    flex-grow: 1;
  }

  & .add-comment {
    background-color: transparent;
    transform: translateX(-3rem);
  }
}

form.ui.form.add-comment-section {
  display: flex;
}