.search-bar {
  width: 100vw;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: 1200px) {

  }

  &__left {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    width: 30%;
    margin-left: 2%;
    cursor: pointer;
    font-size: 2rem;

    h1 {
      font-size: 3rem;
    }

    @media (max-width: 1200px) {
      font-size: 1rem;

      h1 {
        font-size: 2rem;
      }
    }

    @media screen and (max-width: 450px) {
      width: 100%;
      max-width: 100%;
      justify-content: center;
    }
  }

  &__middle {
    order: 3;
    display: -webkit-flex;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    width: 75%;
    transform: translateY(50px);

    @media (max-width: 768px) {
      width: 90%;
      flex-direction: column;
      align-items: center;
    }


  }

  &__icons {
    display: flex;
    font-size: 1.6rem;
    cursor: pointer;

    :not(:first-child) {
      margin-left: 1rem;
    }

    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }

  }

  &__right {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    width: 30%;
    margin-right: 2%;
    font-size: 2rem;

    @media (max-width: 1200px) {
      font-size: 2rem;
      width: 50%;

      p {
        font-size: 1.4rem;
      }
    }

    @media screen and (max-width: 768px) {
      justify-content: flex-end;
    }
    @media screen and (max-width: 450px) {
      width: 100%;
      justify-content: center;
    }

  }

  &__search {
    display: flex;
    opacity: 0;
    width: 1px;
    max-width: 1px;
    flex-grow: 1;
    transform: translateX(-30px);
    transition: all 2s;

    &:focus-within {
      display: flex;
      max-width: 100%;
      opacity: 1;
      transform: translateX(-10px);
    }

    &.active, &:focus-within {
      display: flex;
      max-width: 100%;
      width: 100%;
      opacity: 1;
      transform: translateX(-10px);

      @media (max-width: 768px) {
        order: 2;
      }
    }
  }
}

form.ui.form {
  margin: 0 auto;
}

img.ui.avatar.image.avatar-img {
  font-size: 3rem;
}

.icon, h1 {
  color: rgba(12, 64, 90, 0.6);
}

.eleven.wide.column.search-column {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;

  & .ui.form {
    font-size: 1rem;
    width: 1%;
    margin: 0 auto;
  }
}

button.ui.button.search-button {
  background-color: transparent;
}

button.ui.button.search-button:hover ~ #search-column {
  background-color: red;

}

.ui.container.avatar {
  flex-direction: row;
}

button.ui.button.logout-button {
  background-color: transparent;

}

span.post__avatar-name {
  align-self: center;
  color: rgba(12, 64, 90, 0.6);
  font-size: 2rem;
}

