.ui.card {

  width: max-content;

  &.post {
    margin-top: 2rem;
    display: flex;
  }

  & > .imgage {
    object-fit: cover;
  }

}

.content {
  display: flex;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }

  & .card-first-half {
    width: 50%;
    max-height: max-content;
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
  }

  & .card-second-half {
    width: 50%;
    overflow-y: scroll;
    max-height: 610px;
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
  }
}

.content-tablet {
  display: flex;
  flex-direction: column;
}

.post-container {
  margin-bottom: 4rem;
}

.post {

  &__avatar {
    margin-bottom: 1rem;
    margin-right: 1rem;

    &-name {
      margin-left: 1rem;
      font-size: 1.6rem;
    }
  }
}

span.metadata {
  font-size: 1rem;
  color: grey;
  margin-left: 2rem;
}

.ui.card > .content > .header:not(.ui), .ui.cards > .card > .content > .header:not(.ui) {
  margin-top: 1rem;
}

.card-meta {
  margin-left: 1rem;
}