.comment-section {

  margin-left: 1rem;
}

.add-comment-section {
  display: flex;
  width: 94%;
  margin: 2% 0 2% 2rem;

  &__input {
    flex-grow: 1;
  }

  & .add-comment {
    background-color: transparent;
    transform: translateX(-3rem);
  }
}

