.ui.container.avatar {
  display: flex;
  justify-content: flex-end;
}

.avatar-information {
  margin-top: 1rem;

  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 450px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 400px) {
    font-size: 1rem;
  }

  & h1 {
    margin-bottom: 0;
  }

  p:hover {
    cursor: pointer;
  }
}

img.ui.avatar.image.avatar-img {
  align-self: center;
  margin-top: 1rem;
  font-size: 3rem;
  border-radius: 50%;
  border: 8px solid #6d8c9c;
  padding: .5rem;
  box-sizing: content-box;
}