.ui.container.avatar {
  display: flex;
  justify-content: flex-end;
}

.avatar-information {
  margin-top: 1rem;

  @media screen and (max-width: 768px) {
    display: none;
  }

  & h1 {
    margin-bottom: 0;
  }

  p:hover {
    cursor: pointer;
  }
}

img.ui.avatar.image.avatar-img {
  align-self: center;
  margin-top: 1rem;
  font-size: 3rem;
}